<div class="form-group">
    <label for="name[ja]">名称</label>
    <input type="text" class="form-control form-control-sm" id="name" name="name" placeholder="名称"
        value="<%= (prepaidCard !== undefined) ?  prepaidCard.name : '' %>">
</div>

<div class="form-group">
    <label for="name[en]">アクセスコード</label>
    <input type="text" class="form-control form-control-sm" id="accessCode" name="accessCode" placeholder="アクセスコード"
        value="<%= (prepaidCard !== undefined) ?  prepaidCard.accessCode : '' %>">
</div>