<div class="form-group">
    <label for="familyName">Family Name</label>
    <input type="text" class="form-control" id="familyName" name="familyName" placeholder="Family Name"
        value="<%= (person !== undefined) ?  person.familyName : '' %>">
</div>
<div class="form-group">
    <label for="givenName">Given Name</label>
    <input type="text" class="form-control" id="givenName" name="givenName" placeholder="Given Name"
        value="<%= (person !== undefined) ?  person.givenName : '' %>">
</div>
<div class="form-group">
    <label for="telephone">Telephone</label>
    <input type="tel" class="form-control" id="telephone" name="telephone" placeholder="Telephone"
        value="<%= (person !== undefined) ?  person.telephone : '' %>">
</div>
<div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control" id="email" name="email" placeholder="URL"
        value="<%= (person !== undefined) ?  person.email : '' %>">
</div>