<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">販売者検索</h1>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">
                        <a href="/">Home</a>
                    </li>
                    <li class="breadcrumb-item active">販売者検索</li>
                </ol>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <!-- <div class="card-header">
                        <h3 class="card-title">Quick Example</h3>
                    </div> -->
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form role="form" method="get">
                        <input type="hidden" class="form-control" name="limit" value="100">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="name">名称</label>
                                <input type="text" class="form-control" id="name" name="name" placeholder="名称" value="<%= query.name %>">
                            </div>
                            <!-- <div class="form-group">
                                <label for="name">名義</label>
                                <input type="text" class="form-control" id="name" name="name" placeholder="名義" value="<%= query.name %>">
                            </div> -->
                            <!-- <div class="form-group">
                                <label>Select</label>
                                <select class="form-control">
                                    <option>option 1</option>
                                    <option>option 2</option>
                                    <option>option 3</option>
                                    <option>option 4</option>
                                    <option>option 5</option>
                                </select>
                            </div> -->
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer clearfix">
                            <button type="button" class="btn btn-primary" onclick="location.href='/organizations/movieTheater/new'">
                                <i class="fa fa-plus"></i> 販売者追加</button>
                            <button type="submit" class="btn btn-secondary float-right">検索</button>
                        </div>
                    </form>
                </div>
                <!-- /.card -->

            </div>
            <!--/.col (left) -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">検索結果</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive">
                        <table id="movieTheaters-table" class="table table-bordered table-hover dataTable">
                            <thead>
                                <tr>
                                    <th>ID<br>Type</th>
                                    <th>場所</th>
                                    <th>詳細</th>
                                    <th>決済情報</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>ID<br>Type</th>
                                    <th>場所</th>
                                    <th>詳細</th>
                                    <th>決済情報</th>
                                    <th></th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->

<!-- DataTables -->
<link rel="stylesheet" href="/node_modules/admin-lte/plugins/datatables/dataTables.bootstrap4.css">

<!-- page script -->
<script>
    $(function () {
        $("#movieTheaters-table").DataTable({
            processing: true,
            serverSide: true,
            ajax: {
                url: "/organizations/movieTheater",
                data: function (d) {
                    d.limit = d.length;
                    d.page = (d.start / d.length) + 1;
                    d.name = d.search.value;
                    d.format = 'datatable';
                }
            },
            order: [[1, 'asc']], // デフォルトは枝番号昇順
            ordering: false,
            columns: [
                { data: 'id' },
                {
                    data: null,
                    render: function (data, type, row) {
                        return JSON.stringify(data.location, null, '\t');
                    }
                },
                {
                    data: null,
                    render: function (data, type, row) {
                        return JSON.stringify(data.name, null, '\t');
                    }
                },
                {
                    data: null,
                    render: function (data, type, row) {
                        return '<ul class="list-unstyled"><li>'
                            + data.paymentAccepted.map(function (payment) {
                                return JSON.stringify(payment, null, '\t');
                            }).join('</li><li>')
                            + '</li></ul>';
                    }
                },
                {
                    data: null,
                    render: function (data, type, row) {
                        return '<ul class="list-unstyled"><li>'
                            + '<a href="/organizations/movieTheater/' + data.id + '">編集</a>'
                            + '</li></ul>';
                    }
                }
            ]
        });
    });
</script>